---
---

<footer class="py-8 px-6 border-t border-black/5">
  <div class="max-w-3xl mx-auto">
    <p class="text-[10px] text-black/25 tracking-wider">
      &copy; {new Date().getFullYear()} Takashi Matsumoto
    </p>
  </div>
</footer>
